/* Yleiset tyylit */
body {
    font-family: Arial, sans-serif;
}

/* Kirjautumislomakkeen tyylit */
#login {
    text-align: center;
    margin-top: 100px;
}
#loginButton {
    padding: 10px 20px;
}

/* Pelinäkymän tyylit */
#game {
    display: none;
    text-align: center;
    margin-top: 30px;
}
#timer-container {
    font-size: 3em; /* Suurenna ajastimen tekstiä */
    text-align: center;
    display: none;
}
